// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.name{
    text-align:center;
    top: 500px;
    right: 1000px;
}

div.tamago{
    text-align:center;
    top: 300px;
    right: 1000px;
}