div.main{
    width:1200px;				
    margin:0px 5px 0px;
    padding:120px 100px;
    background-color:#fcacac;		
    border-radius:20px;	
    -moz-border-radius:20px; -webkit-border-radius:20px; -o-border-radius:20pz; -ms-border-radius:20px;	
}
